body {
  font-family: "Roboto Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
