@font-face {
  font-display: swap;
  font-family: "Roboto Light";
  font-weight: 400;
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto SemiBold";
  font-weight: 600;
  src: url("/fonts/Roboto-SemiBold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Rowdies";
  font-weight: 400;
  src: url("/fonts/Rowdies-Regular.ttf") format("truetype");
}
