.font-Rowdies {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  line-height: 100%;
  color: var(--main-text-color);
}

.orange-text {
  color: var(--main-brand-color);
}

.title-section {
  font-size: 52px;
}

.text {
  line-height: 1.5;
}

.center {
  margin: 0 auto;
}
