:root {
  --main-brand-color: #ff9f0e;
  --brand-color-hover: #fcb62a;
  --white: #fff;
  --main-text-color: #181817;
  --peach-color: #fffaf3;
  --super-light-blue: #f9f9ff;
  --blue-grey-info: #839aa9;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
