.card {
  width: 320px;
  height: 416px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 24px;
  overflow: hidden;
  flex-shrink: 0;

  @media screen and (min-width: $bp-desktop) {
    width: 344px;
    height: 456px;
  }
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 42px;
  gap: 24px;
  box-sizing: border-box;
  background-color: var(--blue-grey-info);
  z-index: 10;
  width: 100%;
  height: 130px;
  color: var(--white);
}
