.input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 8px 24px;
  border-radius: 8px;
  border: 1px solid var(--main-brand-color);

  @media screen and (min-width: $bp-desktop) {
    padding: 8px 40px;
    height: 48px;
  }

  &__control {
    border: none;
    font-size: 18px;
    line-height: 1.3;
    background-color: transparent;
  }

  &__control:focus {
    background-color: var(--copyright-grey);
    outline: none;
  }

  &__control::placeholder {
    font-size: 18px;
    color: var(--main-brand-color);
    line-height: 1.3;
  }
}

.form-terms {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
  color: var(--blue-grey-info);
  text-align: center;
}
