.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  transform: translateX(100%);
  transition: transform 0.5s;
  z-index: 100;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    padding: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px;
  }

  &__icon-logo {
    position: absolute;
    top: 16px;
    left: 20px;
    width: 92px;
    height: 20px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    font-size: 16px;
  }

  &__paw-1 {
    top: 449px;
    left: -29px;
    width: 88px;
    height: 88px;
  }

  &__paw-2 {
    top: 320px;
    left: 137px;
    width: 24px;
    height: 24px;
  }

  &__paw-3 {
    top: 349px;
    left: 178px;
    width: 24px;
    height: 24px;
  }

  &__paw-4 {
    top: 395px;
    left: 196px;
    width: 24px;
    height: 24px;
  }

  &__paw-5 {
    top: 267px;
    left: 278px;
    width: 56px;
    height: 56px;
  }

  &__paw-6 {
    top: 570px;
    left: 218px;
    width: 24px;
    height: 24px;
  }

  &__paw-7 {
    top: 559px;
    left: 266px;
    width: 24px;
    height: 24px;
  }
}
