.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 31, 74, 0.4);
  padding: 24px;
  transition:
    opacity 0.3s,
    visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 880px;
  max-height: 880px;
  background: var(--peach-color);
  border-radius: 32px;
  padding: 142px 140px;
  overflow: auto;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    gap: 24px;
  }
}

.modal-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @media screen and (min-width: $bp-desktop) {
    gap: 16px;
  }
}

.modal-btn-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 42px;
  right: 42px;
  background: transparent;
  border: none;
}
