.services {
  &__section {
    background: url(/images/service-category-background-mobile.png) no-repeat;
    position: relative;
    padding: 20px;

    @media screen and (min-width: $bp-desktop) {
      background: url(/images/service-category-background.png) no-repeat;
      position: relative;
      padding: 72px 0 112px 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: $bp-desktop) {
      gap: 48px;
    }
  }

  &__title {
    font-size: 32px;
    white-space: nowrap;
    margin-top: 12px;

    @media screen and (min-width: $bp-desktop) {
      font-size: 52px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 240px;
    height: 240px;
    background: linear-gradient(180deg, #ffffff 0%, #fffbf4 100%);
    box-shadow: 0px 4px 4px 0px rgba(24, 24, 23, 0.05);
    border: 1px solid var(--super-light-blue);
    border-radius: 16px;
    box-sizing: border-box;
    padding: 47px 71px;
    fill: var(--main-text-color);
  }

  &__link {
    display: none;
    color: var(--main-brand-color);
    font-family: "Roboto SemiBold", sans-serif;

    &:nth-child(2) {
      display: block;
    }

    &:last-child {
      display: block;
    }

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__more-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--main-brand-color);
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.05em;
  }

  &__arrow {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      right: 51px;
      top: 0;
    }
  }
}

.icon-arrow {
  width: 40px;
}
