.pagination {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  z-index: 10;

  @media screen and (min-width: $bp-desktop) {
    gap: 24px;
  }

  &__button {
    width: 8px;
    height: 8px;
    background: var(--blue-grey-info);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    display: block;

    @media screen and (min-width: $bp-desktop) {
      width: 11px;
      height: 11px;
    }
  }

  &__button-active {
    background: var(--main-brand-color);
    transform: scale(1.2);
  }
}
